@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --bg-size: 320px;
  --animate-loop-bg: loop-bg 10s linear infinite;
  --font-Noto-Sans-HK: 'Noto Sans HK', sans-serif;
  @keyframes loop-bg {
    0% {
      background-position: 0% 0%;
    }

    100% {
      background-position: var(--bg-size) var(--bg-size);
    }
  }

  --animate-logo-scale: logo-scale 0.6s ease-in-out;

  @keyframes logo-scale {
    0%,
    100% {
      transform: scale(1);
    }

    30% {
      transform: scale(0.95);
    }
  }

  --animate-vibrate: vibrate 60s ease-in-out infinite;
  --animate-vibrate-dist: 0.1em;

  @keyframes vibrate {
    0%,
    100% {
      transform: translate(0);
    }
    10%,
    50%,
    80% {
      transform: translate(
        calc(-1 * var(--animate-vibrate-dist)),
        calc(-1 * var(--animate-vibrate-dist))
      );
    }
    20%,
    60%,
    90% {
      transform: translate(var(--animate-vibrate-dist), calc(-1 * var(--animate-vibrate-dist)));
    }
    30%,
    70% {
      transform: translate(calc(-1 * var(--animate-vibrate-dist)), var(--animate-vibrate-dist));
    }
    40% {
      transform: translate(var(--animate-vibrate-dist), var(--animate-vibrate-dist));
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html {
  @apply bg-[url('/images/common/bg.svg')] animate-loop-bg bg-size-(--bg-size) bg-fixed bg-center font-Noto-Sans-HK;
}

body {
  @apply px-4;
}

.liquidGlass-wrapper {
  @apply relative size-full flex font-semibold shadow-lg transition-all duration-300 ease-[cubic-bezier(0.175,0.885,0.32,2.2)];

  .liquidGlass-effect {
    @apply absolute z-0 backdrop-blur-xs overflow-hidden inset-0;
    filter: url(#glass-distortion);
  }

  .liquidGlass-tint {
    @apply z-1 absolute inset-0 bg-white/5;
  }

  .liquidGlass-shine {
    @apply absolute z-2 overflow-hidden inset-shadow-sm inset-shadow-gray-100 inset-0;
  }

  .liquidGlass-main {
    @apply z-3 w-full;
  }
}

header {
  @apply my-14;
  .header-wrapper {
    @apply h-16;
    .liquidGlass-wrapper {
      .liquidGlass-effect,
      .liquidGlass-tint,
      .liquidGlass-shine {
        @apply rounded-4xl;
      }
    }
    .wrapper-main {
      @apply flex items-center justify-between size-full relative px-8;
      .logo {
        @apply inset-0 w-40 hover:animate-logo-scale;
      }

      .header-menu {
        @apply fixed top-0 left-0 w-full h-full flex flex-col items-center justify-center opacity-0 invisible bg-gray-700/80 sm:bg-transparent backdrop-blur-sm sm:relative sm:flex-row sm:w-auto sm:opacity-100 sm:visible py-10 sm:py-0 transition-all duration-300 ease-in-out blur-sm sm:blur-none;
        &.active {
          @apply opacity-100 visible blur-none;
        }
        .menu-item {
          @apply flex text-white w-full sm:h-full items-center justify-center hover:bg-yellow-300/70 duration-300 ease-in-out sm:px-4 md:px-1 py-4 md:min-w-31 sm:border border-l-gray-500 border-r-gray-600 border-transparent hover:border-t-gray-500 hover:border-b-gray-600;
          .item-icon {
            @apply w-8 h-8 md:w-6 md:h-6;
          }
          .item-text {
            @apply inline-block sm:hidden md:inline-block ml-1;
          }
        }
        .header-close {
          @apply absolute top-0 right-0 flex items-center justify-center cursor-pointer sm:hidden p-2 hover:rotate-90 transition-all duration-300 ease-in-out;
        }
      }
      .header-btn {
        @apply sm:hidden cursor-pointer bg-gray-700/80 hover:bg-yellow-300/70 p-2 rounded-full transition-all duration-300 ease-in-out hover:inset-shadow-sm inset-shadow-gray-900/70;
      }
    }
  }
}

footer {
  @apply mt-8;

  .liquidGlass-wrapper {
    .liquidGlass-effect,
    .liquidGlass-tint,
    .liquidGlass-shine {
      @apply rounded-t-4xl;
    }
  }
  .footer-top {
    .footer-menu {
      @apply text-center flex justify-center gap-4 mb-4;
      .menu-item {
        @apply hover:text-yellow-300 transition-all duration-300 ease-in-out;
      }
    }
  }
  .footer-bottom {
    @apply text-center font-light;
  }
}

.tags-cloud {
  @apply cursor-pointer;
  div {
    @apply inline-block rounded-full m-1;
    span {
      @apply px-[.4em] text-gray-900;
    }
  }
}
